.contact{
  padding:80px 70px 10px;
  overflow:hidden;
}

.contact__name{
  font-size:23px;
  margin-top:14px;
  margin-bottom:28px;
}

.contact__addr, .contact__mail{
  color:#555;
}

.contact__mail{
  margin-top:8px;
}

.contact__content--left{
  padding-top:30px;
  float:left;
}

.contact__map{
  float:right;
  width:image-width('map.jpg')/2;
}
.en_title{
  margin-top:350px;
}
.en_desc{
  max-width:325px;
  white-space:pre-line;
  color:#555;
}