.header{
  height:90px;
  position:relative;
  z-index:10;

  .logo{
    //width:image-width('logo.png')/2;
    width:165px;
    height:image-height('logo.png')/2;
    display:inline-block;
    z-index:2;
    position:relative;
    @include pos(left, 45px, top, 58%);
    @include transform(translateY(-50%));
    background-image:url('/images/logo.png');
    background-size:100%;
    background-repeat:no-repeat;
  }
  .logo-dark{
    background-image:url('/images/darklogo.png');
  }
  .header__mask{
    height:290px;
    width:100%;
    z-index:1;
    @include pos(left, 0, top, 0);
    background-color:rgba(#000, .6);
    opacity:0;
    @include transition(400ms ease-in-out);
    @include transform(translateY(-73%));
    &.c_subnav{
      opacity:1;
      @include transform(translateY(0%));
    }
  }
  &.header-darker .header__mask{
    opacity:1;
  }

  .nav{
    float:right;
    margin-top:40px;
    font-size:15px;
    padding-bottom:10px;
    padding-right:3em;
    padding-left:1em;
    z-index:2;
    position:relative;
    font-size:13px;
  }

  .nav__item{
    float:left;
    padding-right:4em;
    cursor:default;
    position:relative;
    &:hover{
      .nav__sublist{
        display:block;
      }
    }
  }
  .nav__link--cur{
    color:$main-color !important;
  }

  .nav__sublist{
    display:none;
    @include pos(top, 0, left, 0);
    padding-top:1.6em;
  }

  .nav__subitem{
    margin-top:1em;
  }

  .lang{
    @include pos(right, 1em, top, 1em);
    font-size:14px;
  }
}

.header-darker{
  $word:#fff;
  //background-color:rgba(#000, .6);
  color:$word;

  .nav{
    border-bottom:1px solid $word;
  }
  .nav__link{
    color:$word;
    &:hover{
      color:darken($word, 20%);
    }
  }

  .nav__subitem{
    color:$word;
  }

  .lang{
    color:rgba($word, .6);
  }
}

.header-brighter{
  $word:#000;
  color:$word;

  .nav{
    border-bottom:1px solid $word;
  }
  .nav__link{
    color:$word;
    &:hover{
      color:lighten($word, 50%);
    }
  }
  .nav__subitem{
    color:$word;
  }

  .lang{
    color:rgba($word, .6);
  }
}