.picItem__list{
  width:1170px;
  margin:0 auto;
  overflow:auto;
}

.picItem__item{
  float:left;
  display:inline-block;
  margin:35px 10px;
  position:relative;
}

.picItem__title{
  margin-top:20px;
  font-size:14px;
  color:#333;
}

.picItem__picWraper{
  position:relative;
}

.picItem__item:hover{
  .picItem__pic--title-hover{
    opacity:1;
  }
}

.picItem__pic--title-hover{
  color:#fff;
  opacity:0;
  width:100%;
  height:100%;
  background-color:rgba(#000, .4);
  @include pos(left, 0, top, 0);
  background-image:url('/images/view.png');
  background-repeat:no-repeat;
  background-size:60% auto;
  background-position:center;
  @include transition(opacity 400ms);
}

.picItem__pic{
  //width:565px;
  width:370px;
  //height:425px;
  height:278px;
}

.picItem__subtitle{
  font-size:11px;
  position:relative;
  top:1px;
  left:1em;
}

.picItem__link--fake{
  @include pos(left, 0, top, 0);
  width:100%;
  height:100%;
}