.box {
  background: #fff;
  color: #333;
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #d6d6d6;
}
.row {
  padding: 10px;
}

.caption {
  width: 8em;
  display: inline-block;
  vertical-align: middle;
  color: #666;
}
.caption1 {
  composes: caption;
  vertical-align: top;
}
.blank {
  border: none;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  width: 40em;
  line-height: 1.8em;
  font-size: 14px;
}
.blank:focus {
  outline:none;
}
.blank1 {
  composes: blank;
  height: 10em;
  resize: vertical;
}
.submit-row {
  text-align: center;
  margin-top: 1em;
}
.right-arrow {
  float: right;
  color: #999;
}

