$container-width:320px;
$footer_height:40px;
$wraper-width:300px;

$black:#000;
$blue:#4385f6;
$gray:#b1b1b1;
$green:#38bb4a;
$orange:orange;
$red:#df6448;
$white:#fff;
$yellow:#ffa200;
$error:#e66351;
$neutral:#9B9B9B;

$forceful:#363636;
$strong:#484848;
$powerful:#565656;
$dusky:#898989;
//$pale:#b1b1b1;
$pale:#f3f3f3;
$bare:#f6f6f6;

$_custom-color:$black, $blue, $gray, $green, $orange, $red, $white, $yellow, $error, $forceful, $strong, $powerful, $dusky, $pale;
$_custom-color-class:black, blue, gray, green, orange, red, white, yellow, error, forceful, strong, powerful, dusky, pale;

$space-x:10px;
$space-s:12px;
$space-m:15px;
$space-l:20px;

$base-font:'Heiti SC';
$hx:30px;
$hm:45px;
$h0:15px;
$h1:18px;
$h2:16px;
$h3:15px;
$h4:14px;
$h5:13px;
$h6:12px;

//z-index
$z-pop:500;
$z-fix:50;

$captain:#df6448;
$steward:#d3d3d3;
$immigration:#a4a4a4;
$refrigerating:#ccc;

$bg-color:#efeff4;
$border-color:#d3d3d3;
$subborder-color:#e4e4e4;

$takeout:#38bb85;
