html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }

html { -webkit-text-size-adjust: 100%; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: center; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

img { max-width: 100%; vertical-align: middle; }

i { font-style: normal; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.col1of2, .col1of3, .col2of3, .col1of4, .col2of4, .col3of4, .col1of5, .col2of5, .col3of5, .col4of5, .col1of6, .col2of6, .col3of6, .col4of6, .col5of6 { float: left; }

.col1of2 { width: 50%; box-sizing: border-box; }

.col1of3 { width: 33.33333%; box-sizing: border-box; }

.col2of3 { width: 66.66667%; box-sizing: border-box; }

.col1of4 { width: 25%; box-sizing: border-box; }

.col2of4 { width: 50%; box-sizing: border-box; }

.col3of4 { width: 75%; box-sizing: border-box; }

.col1of5 { width: 20%; box-sizing: border-box; }

.col2of5 { width: 40%; box-sizing: border-box; }

.col3of5 { width: 60%; box-sizing: border-box; }

.col4of5 { width: 80%; box-sizing: border-box; }

.col1of6 { width: 16.66667%; box-sizing: border-box; }

.col2of6 { width: 33.33333%; box-sizing: border-box; }

.col3of6 { width: 50%; box-sizing: border-box; }

.col4of6 { width: 66.66667%; box-sizing: border-box; }

.col5of6 { width: 83.33333%; box-sizing: border-box; }

.row { width: 100%; position: relative; box-sizing: border-box; margin-left: auto; margin-right: auto; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.left { float: left; }

.right { float: right; }

.center { margin-left: auto; margin-right: auto; float: none; }

.hidden { display: none; }

.by-left { text-align: left; }

.by-right { text-align: right; }

.by-center { text-align: center; }

/** Should be used to modify the default spacing between objects (not between nodes of the same object) a, t, r, b, l, h, v = all,top,right,bottom,left,horizontal,vertical x, s, m, l, n       = space-x, space-s, space-m, space-l, none p, m                = padding,margin */
.ptn, .pvn, .pan { padding-top: 0; }

.ptx, .pvx, .pax { padding-top: 3px; }

.pts, .pvs, .pas { padding-top: 5px; }

.ptm, .pvm, .pam { padding-top: 10px; }

.ptl, .pvl, .pal { padding-top: 20px; }

.prn, .phn, .pan { padding-right: 0; }

.prx, .phx, .pax { padding-right: 3px; }

.prs, .phs, .pas { padding-right: 5px; }

.prm, .phm, .pam { padding-right: 10px; }

.prl, .phl, .pal { padding-right: 20px; }

.pbn, .pvn, .pan { padding-bottom: 0; }

.pbx, .pvx, .pax { padding-bottom: 3px; }

.pbs, .pvs, .pas { padding-bottom: 5px; }

.pbm, .pvm, .pam { padding-bottom: 10px; }

.pbl, .pvl, .pal { padding-bottom: 20px; }

.pln, .phn, .pan { padding-left: 0; }

.plx, .phx, .pax { padding-left: 3px; }

.pls, .phs, .pas { padding-left: 5px; }

.plm, .phm, .pam { padding-left: 10px; }

.pll, .phl, .pal { padding-left: 20px; }

.mtn, .mvn, .man { margin-top: 0px !important; }

.mtx, .mvx, .max { margin-top: 3px; }

.mts, .mvs, .mas { margin-top: 5px; }

.mtm, .mvm, .mam { margin-top: 10px; }

.mtl, .mvl, .mal { margin-top: 20px; }

.mrn, .mhn, .man { margin-right: 0px !important; }

.mrx, .mhx, .max { margin-right: 3px; }

.mrs, .mhs, .mas { margin-right: 5px; }

.mrm, .mhm, .mam { margin-right: 10px; }

.mrl, .mhl, .mal { margin-right: 20px; }

.mbn, .mvn, .man { margin-bottom: 0px !important; }

.mbx, .mvx, .max { margin-bottom: 3px; }

.mbs, .mvs, .mas { margin-bottom: 5px; }

.mbm, .mvm, .mam { margin-bottom: 10px; }

.mbl, .mvl, .mal { margin-bottom: 20px; }

.mln, .mhn, .man { margin-left: 0px !important; }

.mlx, .mhx, .max { margin-left: 3px; }

.mls, .mhs, .mas { margin-left: 5px; }

.mlm, .mhm, .mam { margin-left: 10px; }

.mll, .mhl, .mal { margin-left: 20px; }

.h0 { font-size: 14px; }

h1, .h1 { font-size: 36px; }

h1 { margin-bottom: .5em; }

h2, .h2 { font-size: 30px; }

h2 { margin-bottom: .5em; }

h3, .h3 { font-size: 24px; }

h3 { margin-bottom: .5em; }

h4, .h4 { font-size: 18px; }

h4 { margin-bottom: .5em; }

h5, .h5 { font-size: 16px; }

h5 { margin-bottom: .5em; }

h6, .h6 { font-size: 12px; }

h6 { margin-bottom: .5em; }

.word { color: #333; }

.bg-word { background-color: #333; }

.opaque { color: #666; }

.bg-opaque { background-color: #666; }

.neutral { color: #999; }

.bg-neutral { background-color: #999; }

.pale { color: #aaa; }

.bg-pale { background-color: #aaa; }

.bare { color: #ccc; }

.bg-bare { background-color: #ccc; }

.firm { color: #049ff1; }

.bg-firm { background-color: #049ff1; }

.bright { color: #fe9d01; }

.bg-bright { background-color: #fe9d01; }

.sharp { color: #0cf; }

.bg-sharp { background-color: #0cf; }

.contrast { color: #fff; }

.bg-contrast { background-color: #fff; }

.positive { color: #43a102; }

.bg-positive { background-color: #43a102; }

.negative { color: #FF2B00; }

.bg-negative { background-color: #FF2B00; }

.black { color: black; }

.bg-black { background-color: black; }

.blue { color: #3498db; }

.bg-blue { background-color: #3498db; }

.gray { color: #bdc3c7; }

.bg-gray { background-color: #bdc3c7; }

.green { color: #27ae60; }

.bg-green { background-color: #27ae60; }

.orange { color: orange; }

.bg-orange { background-color: orange; }

.red { color: #df6448; }

.bg-red { background-color: #df6448; }

.white { color: white; }

.bg-white { background-color: white; }

.yellow { color: #f1c40f; }

.bg-yellow { background-color: #f1c40f; }

a { color: #196FEE; text-decoration: none; }

.border-box { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.closed-box { overflow: hidden; position: relative; }
.closed-box:before, .closed-box:after { content: " "; display: table; }
.closed-box:after { clear: both; }

.ios-scroll { overflow-y: scroll; -webkit-overflow-scrolling: touch; }

.noscroll { overflow: hidden !important; }

.notap { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.nocall { -webkit-touch-callout: none; }

.noselect { -webkit-user-select: none; user-select: none; }

.nopointer { pointer-events: none; }

.relative { position: relative; }

.text-overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.block { display: block; }

.inline { display: inline; }

.inline-block { display: inline-block; }

.hide { display: none; }

html, body { height: 100%; }

body { background: #e2e2e2; height: 100%; width: 100%; }

.mask__border-white { position: fixed; left: 0; top: 0; width: 100%; height: 100%; border: 10px solid #e2e2e2; box-sizing: border-box; pointer-events: none; z-index: 100; }

.banner { position: fixed; left: 0; top: 0; width: 100%; height: 100%; padding: 10px; box-sizing: border-box; }
.banner .swiper-slide { background-size: auto 100%; background-position: center; background-repeat: no-repeat; background-color: #000; position: relative; }
.banner .swiper-slide .title { position: absolute; left: 45px; bottom: 40px; color: #fff; font-size: 16px; }
.banner .swiper-slide .banner__entitle { font-size: 11px; position: relative; top: 2px; left: 1em; }

.swiper-container { width: 100%; height: 100%; }

.header { height: 90px; position: relative; z-index: 10; }
.header .logo { width: 165px; height: 40px; display: inline-block; z-index: 2; position: relative; position: absolute; left: 45px; top: 58%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); background-image: url("http://ofsttrt7n.bkt.clouddn.com/1222-logo1.png"); background-size: 100%; background-repeat: no-repeat; }
.header .logo-dark { background-image: url("http://ofsttrt7n.bkt.clouddn.com/v1222.png"); }
.header .header__mask { height: 290px; width: 100%; z-index: 1; position: absolute; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.6); opacity: 0; -moz-transition: ease-in-out 400ms; -o-transition: ease-in-out 400ms; -webkit-transition: ease-in-out 400ms; transition: ease-in-out 400ms; -moz-transform: translateY(-73%); -ms-transform: translateY(-73%); -webkit-transform: translateY(-73%); transform: translateY(-73%); }
.header .header__mask.c_subnav { opacity: 1; -moz-transform: translateY(0%); -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%); }
.header.header-darker .header__mask { opacity: 1; }
.header .nav { float: right; margin-top: 40px; font-size: 15px; padding-bottom: 10px; padding-right: 3em; padding-left: 1em; z-index: 2; position: relative; font-size: 13px; }
.header .nav__item { float: left; padding-right: 4em; cursor: default; position: relative; }
.header .nav__item:hover .nav__sublist { display: block; }
.header .nav__link--cur { color: #881b20 !important; }
.header .nav__sublist { display: none; position: absolute; top: 0; left: 0; padding-top: 1.6em; }
.header .nav__subitem { margin-top: 1em; }
.header .lang { position: absolute; right: 1em; top: 1em; font-size: 14px; }

.header-darker { color: #fff; }
.header-darker .nav { border-bottom: 1px solid #fff; }
.header-darker .nav__link { color: #fff; }
.header-darker .nav__link:hover { color: #cccccc; }
.header-darker .nav__subitem { color: #fff; }
.header-darker .lang { color: rgba(255, 255, 255, 0.6); }

.header-brighter { color: #000; }
.header-brighter .nav { border-bottom: 1px solid #000; }
.header-brighter .nav__link { color: #000; }
.header-brighter .nav__link:hover { color: gray; }
.header-brighter .nav__subitem { color: #000; }
.header-brighter .lang { color: rgba(0, 0, 0, 0.6); }

.picItem__list { width: 1170px; margin: 0 auto; overflow: auto; }

.picItem__item { float: left; display: inline-block; margin: 35px 10px; position: relative; }

.picItem__title { margin-top: 20px; font-size: 14px; color: #333; }

.picItem__picWraper { position: relative; }

.picItem__item:hover .picItem__pic--title-hover { opacity: 1; }

.picItem__pic--title-hover { color: #fff; opacity: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); position: absolute; left: 0; top: 0; background-image: url("/images/view.png"); background-repeat: no-repeat; background-size: 60% auto; background-position: center; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; -webkit-transition: opacity 400ms; transition: opacity 400ms; }

.picItem__pic { width: 370px; height: 278px; }

.picItem__subtitle { font-size: 11px; position: relative; top: 1px; left: 1em; }

.picItem__note { font-size: 12px; margin-top: 6px; color: #666; }

.picItem__link--fake { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.picSwiper { height: calc(100% - 100px); background-color: #000; width: 100%; overflow: hidden; position: relative; }
.picSwiper .title { position: absolute; left: 45px; bottom: 19px; font-size: 14px; color: #fff; z-index: 1; }
.picSwiper .swiper-slide { width: 100%; background-position: center; background-size: auto 100%; background-repeat: no-repeat; }
.picSwiper .swiper-button-prev, .picSwiper .swiper-button-next { width: 47px; height: 200px; background-size: 50% auto; top: 54%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); opacity: .6; }
.picSwiper .swiper-button-prev:hover, .picSwiper .swiper-button-next:hover { opacity: 1; }
.picSwiper .swiper-button-prev { background-image: url("/images/left_arrow.png"); }
.picSwiper .swiper-button-next { background-image: url("/images/right_arrow.png"); }
.picSwiper .swiper-pagination-bullet { background-color: #fff; }
.picSwiper .swiper-pagination-bullet-active { background-color: #fff; }
.picSwiper.swiper-container-horizontal > .swiper-pagination-bullets { text-align: right; right: 40px; left: auto; bottom: 18px; }

.founders { width: 90%; margin: 0 auto; padding-top: 65px; }

.founder { overflow: hidden; margin-bottom: 140px; }

.founder__photo { float: left; width: 315px; height: 420px; margin-right: 40px; }

.founder__title { margin-bottom: 50px; }

.founder__name { font-size: 40px; }

.founder__name, .founder__job { display: inline-block; vertical-align: middle; }

.founder__job { margin-left: 30px; font-size: 20px; white-space: pre-wrap; line-height: 1.4em; }

.founder__desc, .founder__works { white-space: pre-wrap; font-size: 14px; line-height: 1.6em; }

.founder__works { margin-top: 40px; margin-left: 357px; }

.contact { padding: 80px 70px 10px; overflow: hidden; }

.contact__name { font-size: 23px; margin-top: 14px; margin-bottom: 28px; }

.contact__addr, .contact__mail { color: #555; }

.contact__mail { margin-top: 8px; }

.contact__content--left { padding-top: 30px; float: left; }

.contact__map { float: right; width: 685px; }

.en_title { margin-top: 350px; }

.en_desc { max-width: 325px; white-space: pre-line; color: #555; }

.concept { padding-top: 12px; }

.concept__image { width: 640px; margin: 0 auto; margin-top: 60px; }
